/* Table */

.table {
    width: 100%
}
.table tr {
    border: 1px solid grey;
}
.table td {
    text-align: left;
    font-size: 14px;
    height: 30px
}

/*Panel layout*/

.panel_layout {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 300
}

/* List item(div) */

.list_div {
    float: left;
    width: 50%;
    font-size: 16px
}

/* Advertisement carousel */

.carousel-image .x-carousel-item .x-innerhtml {
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

/* Navigation bar back button */

.nav {
    -webkit-mask: url(../images/arrow.png) no-repeat;
    background: #fff;
    min-width: 16px;
    min-height: 16px;
    -webkit-mask-position: 12px 6px;
}
.gallery-left {
    -webkit-transform: rotate(180deg);
}

/* Sliding menu animation */

.slide,
.nav-list {
    -webkit-animation-duration: .200s;
    -webkit-transition-timing-function: cubic-bezier(0.275, 0.080, 0.425, 0.855);
}
.slide {
    background: #f1f1f1;
    z-index: 1;
}
@-webkit-keyframes slideout {
    from {
        -webkit-transform: translateX(0px);
    }
    to {
        -webkit-transform: translateX(180px);
    }
    ;
}
@-webkit-keyframes slidein {
    from {
        -webkit-transform: translateX(180px);
    }
    to {
        -webkit-transform: translateX(0px);
    }
    ;
}
.slide.out {
    -webkit-animation-name: slideout;
    -webkit-transform: translateX(180px);
}
.slide.in {
    -webkit-animation-name: slidein;
    -webkit-transform: translateX(0px);
}

/* Sliding menu*/

.mainmenu {
    background: #1d1d1d;
    font-size: 0.7em;
}
.mainmenu .divider {
    font-size: 0.7em;
    color: #a3a3a3;
    padding: 0.2em 1em;
    border-bottom: 1px solid #161616;
    background: #1d1d1d;
    height: 2em;
}
.x-button-mainmenu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    background-image: none;
    background-color: #262626;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #161616;
    border-width: 1px 0;
    height: 3em;
}
.x-button-mainmenu,
.x-button-mainmenu .x-button-label,
.x-button-mainmenu .x-badge {
    color: #FFF;
    text-align: left;
}
.x-button-mainmenu.x-button-pressing {
    background-color: #000;
    background-image: none;
}
.x-button-mainmenu.x-button-pressing {
    color: #888;
}