@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-jhci55');
	src:url('fonts/icomoon.eot?#iefix-jhci55') format('embedded-opentype'),
		url('fonts/icomoon.woff?-jhci55') format('woff'),
		url('fonts/icomoon.ttf?-jhci55') format('truetype'),
		url('fonts/icomoon.svg?-jhci55#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bullhorn:before {
	content: "\e600";
}
